nav{

    display:flex;
    justify-content: space-around;
    background-color: rgb(182, 255, 46);
    color:black;
    height: 100px;
}
.main{

    image-orientation: from-image;
    height: 300px;
}
.img{
    height: 600px;
    width:700px;
}
#btn{
    color:rgb(7, 23, 9)

}
ul{
    display:flex;
}
ul li{
    margin-inline: 20px;
    font-size: 20px;
}


.cards{

display:grid;
justify-content: center;
width:80%;
margin:auto;



}
.food cards{
height: 360px;
margin-inline: 11px;
background-color: aliceblue;



}
.food cards img{
width:100%;
height: 200px;


}



icons
{
display: flex;
align-items: center;

cursor: pointer;

}
.icons i{
    margin-inline: 11px;
    background-color: aliceblue;
    padding: 6px;
    font-size: 20px;
border-radius: 4px;
}






























