






    
.crd{



    width:100%;
    height:100%;
    
    background-color: wheat;
    text-align: center;
}
.review{


    width:800px;
    height:250ox;
    position: relative;
    margin: auto;
    
}
.r{
    text-align: center;
    color:rgb(177, 4, 4);
}